@import url('variables.css');

.springtech-slider {
	display: flex;
	width: 776px;
	height: 780px;
	background-color: var(--white-four);
	margin: auto;
}

.group {
	position: absolute;
	width: 324px;
	height: 324px;
	margin-right: 226px;
	margin-left: 226px;
	margin-top: 184px;
	margin-bottom: 272px;
}

.svg-container {
	position: relative;
}

.shape {
	position: absolute;
	width: 20px;
	height: 24px;
	fill: var(--shape); 
}

.prev { 
	margin-top: 334px;
	margin-bottom: 422px;
	margin-left: 111px;
}
.next { 
	margin-top: 334px;
    margin-bottom: 422px;
    margin-left: 651px;
    margin-right: 111px;
}

.up {
	transform: rotate(-90deg);
	margin-top: 64px;
	margin-bottom: 692px;
	margin-left: 381px;
	margin-right: 381px;
}

.down {
	transform: rotate(-270deg);
	margin-top: 604px;
	margin-bottom: 152px;
	margin-left: 381px;
	margin-right: 381px;
}

.show {
	position: relative;
	width: 182px;
	height: 50px;
	border-radius: 3px;
	background-color: var(--show);
	border: solid 1px var(--border);
	box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.16);
	margin-top: 684px;
	margin-bottom: 64px;
	margin-left: 297px;
	margin-right: 297px;
}

.show div {
	display: inline-block;
	width: 122px;
	height: 19px;
	font-family: HelveticaNeue;
	font-size: 18px;
	font-weight: 500;
	color: var(--white-four);
	text-align: center;
	margin-top: 15px;
}

.heart {
	width: 30px;
	height: 15px;
	stroke: var(--white-four);
	fill: var(--show);
}

@keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.3); }
	100% { transform: scale(1); }
}

.heart-animation {
	position: absolute;
    width: 30px;
    height: 15px;
    left: 0px;
    top: 16px;
}

@keyframes draw {
  50% {
    stroke-dashoffset: 0;
    fill: var(--white-four);
  }
  53% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.counter {
	position: absolute;
	width: 42px;
	height: 26px;
	font-family: Didot;
	font-size: 21px;
	font-weight: bold;
	color: var(--counter);
	margin-right: 367px;
	margin-top: 533px;
}

.counter-image {
	margin-left: 367px;
}

.counter-total {
	margin-left: 385px;
}

.close {
	position: absolute;
	margin-top: 142px;
	margin-right: 199px;
	margin-left: 560px;
	margin-bottom: 621px;
}
.fas.fa-times {
	font-size: 1.5em;
	color: var(--close);
}

